@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  overflow-x: hidden;
  font-family: 'Jost', sans-serif;
}

button {
  border: 2px solid rgba(255, 255, 255, 0.9);
}

select{
  border: 2px solid rgba(255, 255, 255, 0.9);
}

select:hover{
  border: 2px solid #FBE0DC;
}

select:focus {
  outline: none;
}

/* WRAPPER */
.wrapper{
  padding: 30px 30px 20px 150px;
  background: #F8F8F7;
  display: flex;
  justify-content: space-between;
}

/* LOGO */
.logo{
  margin: 0 0 70px 0;
  width: 107px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* NAV CONTENT */
.nav-content{
  width: 446px;
  height: 450px;
}

.subtitle{
  color: #8C8C8C;
  font-size: 20px;
}

/* TABS */
.tabs-title{
  margin: 60px 0 20px 0;
}

.tabs-box{
  display: flex;
  justify-content: space-between;
}

.tab {

}

.tabs-box .tab-f:first-child .tab-icon {
  background: #b4b7ff;
  border: 4px solid #FBE0DC;
}

.tabs-box .tab-f:nth-child(2) .tab-icon {
  background: #97eab9;
  border: 4px solid #FBE0DC;
}

.tabs-box .tab-f:last-child .tab-icon {
  background: #ffd280;
  border: 4px solid #FBE0DC;
}

.tab-f .tab-btn {
  background: #FF868E;
  color: #fff;
}

.tab-icon {
  width: 138px;
  height: 198px;
  border-radius: 20px;
  margin: 0 0 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs-box .tab:first-child .tab-icon {
  background: #b4b7ff;
  border: 4px solid rgba(255, 255, 255, 0.6);
}

.tabs-box .tab:nth-child(2) .tab-icon {
  background: #97eab9;
  border: 4px solid rgba(255, 255, 255, 0.6);
}

.tabs-box .tab:last-child .tab-icon {
  background: #ffd280;
  border: 4px solid rgba(255, 255, 255, 0.6);
}

.tab-btn {
  width: 138px;
  height: 36px;
  border: none;
  border-radius: 10px;
  background: #fff;
  color: #FF868E;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.tab-btn:hover{
  cursor: pointer;
  background: #FF868E;
  color: #fff;
}

/* MAIN PAGE */
.main-page{
  width: 680px;
  height: 840px;
}

/* DEFAULT PAGE */
.default-page{
  width: 100%;
  height: 100%;
  background-color: #FBE0DC;
}

.default-page img{
  position: absolute;
  top: -10px;
}

/* NAV PANEL */
.nav-panel{
  width: 680px;
  display: flex;
  justify-content: space-between;
}

.inp-box{
  width: 470px;
  height: 60px;
  background: #fff;
  border-radius: 20px;
  border: 2px solid #fff;
  display: flex;
}

.inp-box:hover{
  border: 2px solid #FBE0DC;
}

.inp-panel{
  font-weight: 100;
  height: 100%;
  border: none;
  border-radius: 20px;
  padding: 0 0 0 20px;
  font-size: 20px;
  color: #8C8C8C;
  flex: 1 1 auto;
}

.inp-panel:focus{
  outline: none !important;
}

.search-results{
  visibility: hidden;
  position: absolute;
  top: 95px;
  z-index: 999;
  width: 470px;
  max-height: 250px;
  box-sizing: border-box;
  padding: 0 10px;
  border-radius: 20px;
  background-color: #fff;
  border: 2px solid #FF868E;
  overflow: scroll;
  overflow-x: hidden;
}

.search-results::-webkit-scrollbar {
  width: 0;
}

.inp-panel:focus ~ .btn-search + .search-results {
  visibility: visible;
}

.search-results li{
  height: 30px;
  margin: 0 0 10px 0px;
  font-size: 20px;
  color: #8C8C8C;
  border-bottom: 1px solid #FBE0DC;
}

.search-results li:hover{
  cursor: pointer;
  background: #FBE0DC;
}

.btn-search{
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #FBE0DC;
  background-image: url('/src/images/icons/search.png');
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px 10px 0 0;
}

.nav-btn{
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-btn-f {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 20px;
  background-color: #FF868E;
  background-repeat: no-repeat;
  background-position: center;
}

.nb-like{
  background-image: url('/src/images/icons/like-30.png');
}
.nb-fav{
  background-image: url('/src/images/icons/fav-30.png');
}
.nb-dislike {
  background-image: url('/src/images/icons/dislike-30.png');
}

.nav-btn-f.nb-like {
  background-image: url('/src/images/icons/like-white-30.png');
}

.nav-btn-f.nb-fav {
  background-image: url('/src/images/icons/fav-white-30.png');
}

.nav-btn-f.nb-dislike {
  background-image: url('/src/images/icons/dislike-white-30.png');
}

.nav-btn:hover {
  cursor: pointer;
  background-color: #FBE0DC;
  background-repeat: no-repeat;
  background-position: center;
}

/* TAB CONTENT */
.tab-content{
  position: relative;
  width: 640px;
  height: 742px;
  background: #fff;
  border-radius: 20px;
  margin: 10px 0 0 0;
  padding: 20px;
}

.tab-nav{
  width: 196px;
  margin: 0 0 20px 0;
  display: flex;
  justify-content: space-between;
}

.tab-nav-gallery{
  width: 196px;
  margin: 0 0 20px 0;
  display: flex;
  flex: 1 1 auto;
}

.nav-gallery-title{
  display: flex;
}

.btn-t-back{
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #FBE0DC;
  background-image: url(/src/images/icons/back-20.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 10px 0 0;
}

.btn-t-back:hover {
  cursor: pointer;
  background-color: #FF868E;
  background-image: url(/src/images/icons/back-white-20.png);
  background-position: center;
  background-repeat: no-repeat;
}

.btn-g-upload {
  width: 140px;
  height: 40px;
  padding: 0;
  border-radius: 10px;
  border: none;
  background: #FBE0DC;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #ff868e;
  position: relative;
}

.btn-g-upload:hover {
  cursor: pointer;
  background: #FF868E;
  color: #fff;
}

.btn-g-upload p{
  margin: 0 0 0 28px;
}

.btn-g-upload p::before{
  content: url(/src/images/icons/upload-16.png);
  position: absolute;
  left: 30px;
}

.btn-g-upload:hover p::before {
  content: url(/src/images/icons/upload-white-16.png);
}

.tab-title{
  width: 146px;
  height: 30px;
  background: #FF868E;
  border-radius: 10px;
  padding: 5px 0;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.nav-breeds{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-breeds > * {
  height: 40px;
  border-radius: 10px;
  background-color: #F8F8F7;
  color: #8C8C8C;
}

.nav-breeds> *:hover{
  cursor: pointer;
}

.sel-breeds{
  width: 226px;
}

.sel-limitB{
  width: 101px;
}

.btn-sort{
  width: 40px;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-sort:hover{
  border: 2px solid #FBE0DC;
}

.btnS-ZA{
  background-image: url(/src/images/icons/sort-revert-20.png);
}

.btnS-AZ {
  background-image: url(/src/images/icons/sort-20.png);
}

.btnS-ZA:hover {
  background-image: url(/src/images/icons/sort-revert-color-20.png);
}

.btnS-AZ:hover {
  background-image: url(/src/images/icons/sort-color-20.png);
}

/* VOTING */
.cat-image{
  width: 100%;
  height: 360px;
  border-radius: 20px;
}

.box-rating{
  position: absolute;
  top: 440px;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-radius: 24px;
  background-color: #fff;
  width: 248px;
  display: flex;
  justify-content: space-between;
}

.btn-rate {
  width: 80px;
  height: 80px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-rate:hover{
  cursor: pointer;
}

.box-rating button:first-child{
  border-radius: 20px 0 0 20px;
  background-color: #97EAB9;
  background-image: url(/src/images/icons/like-white-30.png);
}

.box-rating button:nth-child(2) {
  background-color: #FF868E;
  background-image: url(/src/images/icons/fav-white-30.png);
}

.box-rating button:last-child {
  border-radius: 0 20px 20px 0;
  background-color: #FFD280;
  background-image: url(/src/images/icons/dislike-white-30.png);
}

.box-rating button:first-child:hover {
  border-radius: 20px 0 0 20px;
  background-color: rgba(151, 234, 185, 0.3);
  background-image: url(/src/images/icons/like-color-30.png);
}

.box-rating button:nth-child(2):hover {
  background-color: rgba(255, 134, 142, 0.3);
  background-image: url(/src/images/icons/fav-30.png);
}

.box-rating button:last-child:hover {
  border-radius: 0 20px 20px 0;
  background-color: rgba(255, 210, 128, 0.3);
  background-image: url(/src/images/icons/dislike-color-30.png);
}

.box-rating button:first-child:active {
  border-radius: 20px 0 0 20px;
  background-color: #97EAB9;
  background-image: url(/src/images/icons/like-white-30.png);
}

.box-rating button:nth-child(2):active {
  background-color: #ff868e;
  background-image: url(/src/images/icons/fav-white-fill-30.png);
}

.box-rating button:last-child:active {
  border-radius: 0 20px 20px 0;
  background-color: #FFD280;
  background-image: url(/src/images/icons/dislike-white-30.png);
}

.loader {
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 226px;
  border: 4px solid #FBE0DC;
  border-top: 4px solid transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* HISTORY ACTIONS */
.history-list{
  height: 280px;
  margin: 44px 0 0 0;
  overflow: scroll;
  -ms-overflow-style: none;
  overflow-x: hidden;
}

.history-list::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.act-box{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F8F8F7;
  border-radius: 10px;
  padding: 0 20px 0 15px;
  font-size: 16px;
  line-height: 24px;
}
.act-time{
  padding: 3px 10px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  align-items: center;
}
.act-description{
  width: 500px;
  color: #8C8C8C;
}

.act-description span{
  color: #1D1D1D;
  font-weight: 500;
}

.act-icon{
  width: 20px;
  height: 20px;
}

ul{
  padding: 0;
}

li{
  list-style-type: none;
  margin: 0 0 10px 0;
}

.breeds-content{
  height: 682px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  -ms-overflow-style: none;
  overflow-x: hidden;
}

.gallery-content {
  height: 490px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  -ms-overflow-style: none;
  overflow-x: hidden;
}

.breeds-content::-webkit-scrollbar, .gallery-content::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.grid-body{
  display: grid;
  width: 640px;
  gap: 20px;
  grid-auto-rows: 140px;
  grid-template-columns: repeat(3, 200px);
  margin: 0 0 14px 0;

}

.grid-item{
  position: relative;
  background-color: #8C8C8C;
  border-radius: 20px;
}

.grid-item img{
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.grid-item:hover .gr-i-hover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: rgba(255, 134, 142, 0.6);
  z-index: 1;
}

.gr-i-hbtn{
  visibility: hidden;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 34px;
  border: none;
  border-radius: 10px;
  background: #FFFFFF;
  color: #FF868E;
  z-index: 2;
}

.gr-i-hgbtn, .gr-i-hgbtn-f{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(/src/images/icons/fav-20.png);
  background-position: center;
  background-repeat: no-repeat;
}

.gr-i-hgbtn-f {
  background-image: url(/src/images/icons/fav-color-20.png);
  background-position: center;
  background-repeat: no-repeat;
}

.grid-item:hover .gr-i-hbtn{
  visibility: visible;
  cursor: pointer;
}

.gr-i-0 {
  grid-column: span 1;
  grid-row: span 2;
}
.gr-i-1 {
  grid-column: span 1;
  grid-row: span 1;
}
.gr-i-2 {
  grid-column: span 1;
  grid-row: span 1;
}
.gr-i-3 {
  grid-column: span 2;
  grid-row: span 2;
}
.gr-i-4 {
  grid-column: span 1;
  grid-row: span 1;
}

.gr-i-5 {
  grid-column: span 1;
  grid-row: span 1;
}

.gr-i-6 {
  grid-column: span 1;
  grid-row: span 1;
}

.gr-i-7 {
  grid-column: span 1;
  grid-row: span 2;
}

.gr-i-8 {
  grid-column: span 2;
  grid-row: span 2;
}

.gr-i-9 {
  grid-column: span 1;
  grid-row: span 1;
}

.page-switch{
  width: 284px;
  display: flex;
  justify-content: space-between;
}

.page-switch > button{
  width: 122px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-position: center;
  background-repeat: no-repeat;
}

.page-switch > button:hover {
  cursor: pointer;
}

.sw-prev{
  background-color: #FBE0DC;
  background-image: url('/src/images/icons/prev.png');
}

.sw-next{
  background-color: #FBE0DC;
  background-image: url('/src/images/icons/next.png');
}

.sw-prev-dis {
  background-color: #F8F8F7;
  background-image: url('/src/images/icons/prev-dis.png');
}

.sw-next-dis {
  background-color: #F8F8F7;
  background-image: url('/src/images/icons/next-dis.png');
}


.sw-prev:active {
  background-color: #FF868E;
  background-image: url('/src/images/icons/prev-active.png');
}

.sw-next:active {
  background-color: #FF868E;
  background-image: url('/src/images/icons/next-active.png');
}

/* BREEDS INFO */
.brI-cat-img{
  width: 640px;
  height: 350px;
  border-radius: 20px;
  margin: 0 0 50px 0;
}

.brI-text-box{
  position: relative;
}

.brI-name{
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 20px;
  padding: 5px 40px;
  font-size: 36px;
  font-weight: 500;
  white-space: nowrap;
}

.brI-grid-box{
  border: 3px solid #FBE0DC;
  width: 640px;
  height: 240px;
  border-radius: 20px;
  display: grid;
  grid-auto-rows: 90px;
  grid-template-columns: repeat(2, 270px);
  gap: 20px;
  justify-items: center;
}

.brI-full-desc{
  position: absolute;
  top: -30px;
  right: 30px;
  background: #F8F8F7;
  visibility: hidden;
  width: 270px;
  padding: 10px;
  border-radius: 20px;
}

.brI-gr-i span{
  font-weight: 500;
}

.brI-grid-box .gr-i-1:hover .brI-full-desc{
  visibility: visible;
}

.brI-gr-i p{
  margin: 0 0 10px 0;
}

.brI-grid-box .gr-i-1{
  grid-column: span 2;
  grid-row: span 1;
  margin: 30px 0 0 50px;
  text-align: center;
}

.brI-grid-box .gr-i-2 {
  margin: 0 0 0 80px;
  grid-column: span 1;
  grid-row: span 1;
}

.brI-grid-box .gr-i-3 {
  margin: 0 0 0 30px;
  grid-column: span 1;
  grid-row: span 1;
}

.nav-gallery{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fillter-gallery{
  width: 100%;
  border-radius: 20px;
  margin: 0 0 20px 0;
  background: #F8F8F7;
  box-sizing: border-box;
  padding: 10px 20px 20px 20px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.fillter-gallery select{
  width: 290px;
  height: 40px;
  border-radius: 10px;
  padding: 0 0 0 10px;
}

.fillter-gallery label{
  margin: 0 0 0 10px;
  font-size: 10px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #8C8C8C;
}

.empty-history{
  margin: 25% 0 0 0;
  text-align: center;
  color: #FF868E;
  font-size: 20px;
}